 {% include 'header.html' %} {% for libro in libros %}
<form method="post" action="/update" enctype="multipart/form-data">



    <div> </div>


    <div class="card">
        <div class="card-header">
            Editar libro
        </div>
        <div class="card-body">
            <h5 class="card-title">Datos del libro</h5>
            <p class="card-text">

                <div class="form-group">
                    <!-- Yo dejaria el campo libre porque el type es hidden y no lo va a mostrar anyway-->
                    <label for="txtID"></label>
                    <input id="txtID" value="{{ libro[0] }}" class:="form-control" type="hidden" name="txtID">
                </div>

                <div class="form-group">
                    <label for="txtNombre">Nombre:</label>
                    <input id="txtNombre" value="{{ libro[1] }}" class:="form-control" type="text" name="txtNombre">
                </div>

                <div class="form-group">
                    <label for="txtAutor">Autor:</label>
                    <input id="txtAutor" value="{{ libro[4] }}" class:="form-control" type="text" name="txtAutor">
                </div>

                <div class="form-group">
                    <label for="txtDescripcion">Descripcion:</label>
                    <input id="txtDescripcion" value="{{ libro[2] }}" class:="form-control" type="text" name="txtDescripcion">
                </div>

                <div class="form-group">
                    <label for="txtImagen">Imagen:</label>
                    <img class="img-thumbnail" width="100" src="{{url_for('uploads', nombreImagen=libro[3])}}" alt="">
                    <input id="txtImagen" class="form-control" type="file" name="txtImagen">
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Modificar">
                    <a href="{{url_for('index')}}" class="btn btn-secondary">Regresar</a>
                </div>
        </div>
    </div>


</form>
{% endfor %} {% include 'footer.html' %}