{% include 'header.html' %}

<br> <a href="{{url_for('create')}}" class="btn btn-success"> Ingresar nuevo libro </a> <br> <br>

<table class="table table-light">
    <thead class="thead-light">
        <tr>
            <th>#</th>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Autor</th>
            <th>Acciones </th>
        </tr>
    </thead>
    <tbody>
        {% for libro in libros %}
        <tr>
            <td>{{libro[0]}}</td>
            <td> <img class="img-thumbnail" width="100" src="uploads/{{libro[3]}}" alt="Foto de portada"> </td>
            <td>{{libro[1]}}</td>
            <td>{{libro[2]}}</td>
            <td>{{libro[4]}}</td>
            <td> <a class="btn btn-secondary" href="/edit/{{libro[0]}}">Editar</a> <a class="btn btn-danger" onclick="return confirm('¿Desea borrar al libro?')" href="/destroy/{{libro[0]}}">Borrar</a> </td>
            <!-- OJO - En lugar del onclick se puede usar un archivo javascript EXTERNO - ver min 45 CRUD V-->
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include 'footer.html' %}